.wrapper {
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: auto 230px minmax(320px, 1200px) auto;
  min-height: 100vh;
  /* stylelint-disable-next-line declaration-block-no-redundant-longhand-properties */
  grid-template-areas:
    '. header header .'
    '. sidebar main .'
    'footer footer footer footer';
}

.header {
  grid-area: header;
}

.sidebar {
  grid-area: sidebar;
  margin-top: 33px;
}

.main {
  grid-area: main;
}

.footer {
  grid-area: footer;
}
