.input {
  margin-bottom: 30px;
  padding: 7px 15px;
  font-size: 16px;
  border-radius: 5px;
  background-color: var(--white);
  outline-color: var(--primary);
  border: none;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.05);
}

.input::placeholder {
  color: #a4a4a4;
}
