.button {
  display: inline-block;
  box-sizing: border-box;
  cursor: pointer;
  text-align: center;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  transition: all 0.3s ease;
}

.button:hover {
  opacity: 0.8;
}

.primary {
  color: var(--white);
  background-color: var(--primary);
}

.default {
  color: var(--black);
  background: none;
}

.arrow {
  display: inline-block;
  margin-left: 10px;
  transition: var(--transition);
}

.arrow_down {
  transform: rotate(90deg);
}
