.textarea_wrapper {
  position: relative;
}

.textarea {
  width: 100%;
  min-height: 76px;
  padding: 7px 15px;
  font-size: 16px;
  border-radius: 5px;
  background-color: var(--white);
  outline-color: var(--primary);
  border: none;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.05);
}

.textarea::placeholder {
  color: #a4a4a4;
}

.error {
  outline: var(--red);
  border: 1px solid var(--red);
}

.error_message {
  position: absolute;
  bottom: -17px;
  left: 0;
  color: var(--red);
}
