.container {
  padding: 30px;
  display: none;
}

.open {
  display: block;
}

.reviews {
  list-style-type: none;
}

.header {
  margin-bottom: 12px;
  display: flex;
  justify-content: space-between;
}

.header_left {
  display: flex;
  align-items: center;
  gap: 7px;
}

.name {
  font-weight: 700;
}

.header_right {
  display: flex;
  gap: 20px;
}

.description {
  padding-bottom: 18px;
  margin-bottom: 22px;
  border-bottom: 1px solid var(--grey-light);
}

.review_success {
  margin-top: 10px;
  padding: 5px 10px;
  border-radius: 5px;
  background-color: var(--green-light);
}

.review_fail {
  margin-top: 10px;
  padding: 5px 10px;
  border-radius: 5px;
  background-color: var(--red-light);
}
