.container {
  padding: 30px;
  display: none;
}

.open {
  display: block;
}

.reviews {
  list-style-type: none;
}

.header {
  margin-bottom: 12px;
  display: flex;
  justify-content: space-between;
}

.header_left {
  display: flex;
  align-items: center;
  gap: 7px;
}

.name {
  font-weight: 700;
}

.description {
  padding-bottom: 18px;
  margin-bottom: 22px;
  border-bottom: 1px solid var(--grey-light);
}
