.container {
  padding: 30px;
  display: none;
}

.open {
  display: block;
}

.reviews {
  list-style-type: none;
}

.header {
  margin-bottom: 12px;
  display: flex;
  justify-content: space-between;
}

.header_left {
  display: flex;
  align-items: center;
  gap: 7px;
}

.name {
  font-weight: 700;
}

.header_right {
  display: flex;
  gap: 20px;
}

.description {
  padding-bottom: 18px;
  margin-bottom: 22px;
  border-bottom: 1px solid var(--grey-light);
}

.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form_head {
  display: flex;
  justify-content: space-between;
}

.form_inputs {
  display: flex;
  gap: 30px;
}

.form_rating {
  display: flex;
  gap: 20px;
}

.form_footer {
  display: flex;
  align-items: center;
  gap: 13px;
}

.form_button {
  padding: 10px 36px;
}
